.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

body {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 34px;
  line-height: 45px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;
}

a {
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  color: #25ac6a;
  text-decoration: underline;
}

a:hover {
  color: #000;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  color: #666;
  font-size: 20px;
  line-height: 22px;
  font-style: italic;
  font-weight: 300;
}

.nav {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: transparent;
}

.logo-text {
  margin-top: 11px;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
}

.logo-text.footer-logo {
  margin-top: 3px;
}

.logo-text.portfolio {
  color: #646464;
}

.nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 0.6;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  opacity: 1;
  color: #fff;
}

.nav-link.w--current {
  opacity: 1;
  color: #fff;
}

.nav-link.contact {
  margin-top: 9px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 0.3);
  font-size: 12px;
  line-height: 18px;
}

.nav-link.footer-link {
  margin-top: 0px;
  padding: 10px;
  float: right;
  text-decoration: none;
}

.nav-link.footer-link.contact {
  display: block;
}

.section {
  margin-top: 75px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.tile-text {
  position: absolute;
  left: 25px;
  bottom: 24px;
  z-index: 20;
  color: #fff;
  font-size: 27px;
  line-height: 30px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.37);
}

.footer-section {
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #2a2a2a;
}

.logo-footer.w--current {
  display: inline-block;
  margin-left: 0px;
  padding-right: 0px;
}

.footer-link-col {
  position: relative;
  display: inline-block;
}

.contact-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  text-align: center;
}

.close-link {
  display: block;
  margin-bottom: 20px;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  color: #fff;
  font-size: 15px;
  text-align: right;
  text-decoration: none;
}

.close-link:hover {
  opacity: 1;
  color: #fff;
}

.text-field {
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.1);
  color: #acacac;
  font-size: 16px;
}

.text-field:focus {
  border-color: hsla(0, 0%, 100%, 0.3);
  color: #fff;
}

.text-field.text-area {
  height: 120px;
}

.form-wrapper {
  display: block;
}

.submit-button {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 3px;
  background-color: rgba(55, 101, 163, 0.4);
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-size: 17px;
}

.submit-button:hover {
  background-color: #3765a3;
}

.contact-heading {
  color: #fff;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
}

.small-divider {
  display: block;
  width: 80px;
  height: 2px;
  margin: 10px auto;
  background-color: #fff;
  opacity: 0.2;
}

.contact-text {
  margin-bottom: 20px;
  padding-top: 10px;
  opacity: 0.7;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}

.success-message {
  background-color: #2bab68;
}

.success-text {
  margin-bottom: 0px;
  color: #fff;
}

.cta-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #949494;
  text-align: center;
}

.cta-heading {
  margin-bottom: 18px;
  color: #fff;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
}

.button {
  padding: 15px 40px;
  background-color: #949494;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-size: 14px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #6d6d6d;
  color: #fff;
}

.blog-image {
  position: relative;
  height: 100%;
  margin-bottom: 10px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  display: block;
  margin-left: 0px;
  padding-left: 0px;
  float: left;
  background-color: rgba(0, 0, 0, 0.45);
}

.photo-left-nav-link {
  width: 100%;
  text-align: center;
}

.photo-left-nav-link.w--current {
  color: #fff;
}

.side-contact-block {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 9999;
  display: none;
  overflow: scroll;
  width: 320px;
  height: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.div-block-12 {
  position: absolute;
  left: 45px;
  right: 45px;
  display: block;
  overflow: visible;
  margin: 75px 20px 0px;
  padding-bottom: 0px;
  float: none;
}

.image-8 {
  width: 100%;
}

.image-9 {
  width: 100%;
}

.image-10 {
  width: 100%;
}

.image-11 {
  width: 100%;
}

.image-12 {
  width: 100%;
}

.image-13 {
  width: 100%;
}

.image-14 {
  position: static;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.portfolio_lb {
  padding-top: 5px;
  padding-bottom: 5px;
}

.column-2 {
  padding-right: 5px;
  padding-left: 0px;
}

.column-3 {
  padding-right: 0px;
  padding-left: 5px;
}

.body-2 {
  background-color: #fff;
  color: #fff;
}

.lightbox-link {
  padding-top: 10px;
  padding-bottom: 5px;
}

.nav-link_pic {
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 0.6;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
  color: #444;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link_pic:hover {
  background-color: hsla(0, 0%, 72.5%, 0.35);
  opacity: 1;
  color: #000;
}

.nav-link_pic.w--current {
  background-color: hsla(0, 0%, 92.2%, 0.5);
  opacity: 1;
  color: #000;
}

.nav-link_pic.contact {
  position: relative;
  display: inline-block;
  margin-top: 6px;
  margin-left: 30px;
  padding: 10px;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 0.3);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.nav-link_pic.contact:hover {
  background-color: rgba(97, 97, 97, 0.43);
}

.row {
  display: block;
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
}

.portfolio_nav {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: transparent;
}

.social_outline {
  width: 40px;
  height: 40px;
  background-image: url('../images/facebook.png');
  background-position: 0px 0px;
  background-size: contain;
}

.social_outline.instagram {
  position: static;
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/instagram.png');
  background-position: 50% 50%;
  background-size: contain;
}

.social_outline.facebook {
  display: inline-block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social_outline.linkedin {
  display: inline-block;
  margin-left: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/linkedin.png');
  background-position: 50% 50%;
  background-size: contain;
}

.div-block-13 {
  display: inline-block;
  height: 40px;
  float: none;
}

.container-5 {
  margin-top: 115px;
}

.row-2 {
  margin-top: 30px;
}

.rich-text-block-2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.text-block-3 {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 5px;
}

.text-block-4 {
  font-family: 'Open Sans', sans-serif;
  color: #636262;
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 2px;
}

.div-block-15 {
  position: static;
  left: 0px;
  top: 192px;
  bottom: 0px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

.column-4 {
  left: 0px;
  top: 0px;
  right: 0px;
}

.body-3 {
  margin-top: 100px;
}

.row-3 {
  margin-right: 45px;
  margin-left: 45px;
}

.rich-text-block-3 {
  font-size: 18px;
  font-weight: 300;
}

.rich-text-block-4 {
  font-size: 18px;
  font-weight: 300;
}

.rich-text-block-5 {
  font-size: 18px;
  font-weight: 300;
}

.social-icons-footer {
  display: inline-block;
  height: 40px;
  float: right;
}

.div-block-16 {
  display: block;
  height: 40px;
}

.div-block-17 {
  height: 50px;
}

.div-block-18 {
  height: 75px;
}

.social_footer {
  width: 40px;
  height: 40px;
  background-image: url('../images/facebook.png');
  background-position: 0px 0px;
  background-size: contain;
}

.social_footer.instagram {
  position: static;
  display: inline-block;
  width: 35px;
  height: 35px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/social_footer-instagram.png');
  background-position: 50% 50%;
  background-size: contain;
}

.social_footer.facebook {
  display: inline-block;
  width: 35px;
  height: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/social_footer-facebook.png');
  background-position: 50% 50%;
  background-size: contain;
}

.social_footer.linkedin {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/social_footer-linkedin.png');
  background-position: 50% 50%;
  background-size: contain;
}

.button-4 {
  position: static;
  right: -86px;
  display: inline-block;
  background-color: #777474;
  text-align: center;
}

.div-block-19 {
  height: 50px;
}

.row-4 {
  margin-top: 10px;
}

.row-5 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.rich-text-block-6 {
  color: #080808;
}

.section-2 {
  margin-top: 117px;
}

.div-block-25 {
  margin-top: 25px;
}

.background_heading {
  padding-bottom: 10px;
  color: #000;
  letter-spacing: 3px;
  text-transform: capitalize;
}

.rich-text-block-7 {
  line-height: 16px;
}

.grid {
  grid-auto-flow: row;
  grid-template-areas: "Area Area-2 Area-4" "Area-3 Area-6 Area-5";
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.heading-8 {
  color: #000;
}

html.w-mod-js *[data-ix="tile-1"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-2"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-3"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-4"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="hero-text"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

html.w-mod-js *[data-ix="move-right"] {
  display: none;
  -webkit-transform: translate(320px, 0px);
  -ms-transform: translate(320px, 0px);
  transform: translate(320px, 0px);
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 30px;
    line-height: 38px;
  }
  .nav {
    padding-top: 10px;
  }
  .nav-link.contact {
    margin-bottom: 11px;
    background-color: hsla(0, 0%, 100%, 0);
  }
  .nav-link.footer-link {
    margin-top: 9px;
  }
  .tile-text {
    left: 22px;
    bottom: 22px;
    font-size: 30px;
    line-height: 33px;
  }
  .menu-button {
    color: #fff;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .nav-menu {
    background-color: #eee;
  }
  .contact-overlay {
    display: none;
    opacity: 0;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .form-wrapper {
    width: 70%;
  }
  .body {
    background-size: cover;
  }
  .navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 524px;
    bottom: 0px;
  }
  .nav-link_pic.contact {
    margin-bottom: 11px;
    background-color: hsla(0, 0%, 100%, 0);
  }
  .portfolio_nav {
    padding-top: 10px;
  }
  .icon-3 {
    color: #000;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 41px;
  }
  .logo-text {
    margin-bottom: 19px;
  }
  .nav-link.contact {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 20px;
  }
  .nav-link.footer-link {
    float: none;
  }
  .nav-link.footer-link.contact {
    float: none;
  }
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .tile-text {
    left: 17px;
    bottom: 14px;
    font-size: 23px;
    line-height: 29px;
  }
  .menu-button.w--open {
    background-color: #fff;
  }
  .nav-menu {
    background-color: #eee;
  }
  .logo-footer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
  }
  .footer-link-col {
    text-align: center;
  }
  .form-wrapper {
    width: 80%;
  }
  .body {
    background-size: cover;
  }
  .navbar {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
  }
  .nav-link_pic.contact {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 20px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 24px;
    line-height: 32px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.38);
  }
  .logo-text {
    font-size: 26px;
  }
  .nav-link.footer-link {
    display: block;
    font-size: 13px;
  }
  .nav-link.footer-link.contact {
    padding: 9px;
    font-size: 13px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .tile-text {
    left: 30px;
    bottom: 30px;
    font-size: 35px;
    line-height: 35px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .nav-menu {
    background-color: #eee;
  }
  .close-link:hover {
    color: #fff;
  }
  .form-wrapper {
    width: 90%;
  }
  .cta-heading {
    font-size: 28px;
  }
  .body {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-attachment: scroll;
  }
  .navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
  }
  .div-block-12 {
    position: static;
    padding-top: 135px;
    padding-bottom: 0px;
  }
  .image-7 {
    margin-top: -13px;
    margin-bottom: -40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .menu-button-3 {
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .icon-3 {
    color: #000;
  }
}

#w-node-ba9cc1ebc75c-0d6281e7 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: Area-6;
}

#w-node-8d44f2d0a511-0d6281e7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-c0d4523eb916-0d6281e7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-bf2522bd3b55-0d6281e7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

